<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_include :: head_include">
  <!-- metas, link and scripts -->
</head>
<body class="container-fluid">
<div th:replace="fragments/nav :: nav"></div>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Page Content -->
<div class="content-section-b">
  <div class="container">
    <div class="form-group">&nbsp;</div>
    <form class="col-xs-6 col-xs-offset-3" name="registerForm" th:action="@{/confirm-registration}" th:object="${user}" method="POST" enctype="utf8">
      <div class="form-group row">
        <h2>Enter the token that was emailed to you</h2>
      </div>
      <div class="form-group row">
        <label for="username">Username</label>
        <input id="username" class="form-control" placeholder="Username (not email)..." th:field="*{username}"/>
        <small class="form-text text-danger" th:each="error: ${#fields.errors('username')}"
               th:text="${error}">Validation error</small>
      </div>

      <div class="form-group row">
        <label for="confirmationToken">Registration Token</label>
        <input class="form-control" id="confirmationToken" placeholder="Token" th:field="*{confirmationToken}"/>
        <small class="form-text text-danger" th:each="error : ${#fields.errors('confirmationToken')}"
               th:text="${error}">Validation error</small>
      </div>
      <div class="form-group row">
        <h2>Please set your password</h2>
        <p>
          Thank you for registering. Please take a moment to choose a
          strong password - preferably one you don't use else where. Passwords must be between 8-32 characters
          and contain a number and a letter.
          (This page will keep on appearing if you have an insufficient password).
        </p>
      </div>
      <div class="form-group row">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" placeholder="Password" th:field="*{password}"/>
        <small class="form-text text-danger" th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</small>
      </div>
      <div class="form-group row">
        <label for="retypepassword">Retype Password</label>
        <input class="form-control" type="password" id="retypepassword" placeholder="Password" th:field="*{passwordMatch}"/>
        <small class="form-text text-danger" th:each="error : ${#fields.errors('passwordMatch')}"
               th:text="${error}">Validation error</small>
      </div>
      <div class="form-group row">
        <button type="submit" class="btn btn-primary col-sm-4">Submit</button>
      </div>
      <div class="form-group row">
        <p class="small">Not a user? <a href="/register">Register</a></p>
      </div>
    </form>
  </div>
</div>

<!--<a th:href="@{/Login.html}" th:text="#{label.form.loginLink}">Login</a>-->
<!-- About Section -->
<div th:replace="fragments/about :: about"></div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>


</body>
</html>