<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8"></meta>
  <meta http-equiv="X-UA-Compatible" content="IE=edge"></meta>
  <meta name="viewport" content="width=device-width, initial-scale=1"></meta>

  <title>GRASP Ancestral Sequence Reconstruction</title>

  <!-- Custom Fonts -->
  <link rel="stylesheet" type="text/css" th:href="@{/css/lib/font-awesome.min.css}"></link>
  <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
  <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
  <!--[if lt IE 9]>
  <script type="text/javascript" th:src="@{/js/lib/html5shiv.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/respond.min.js}"></script>
  <![endif]-->

  <link rel="stylesheet" th:href="@{/css/lib/bootstrap.min.css}"></link>
  <link rel="stylesheet" th:href="@{/css/lib/bootstrap-switch.min.css}"></link>
  <link rel="stylesheet" th:href="@{/css/bootstrap_override.css}"></link>
  <link rel="stylesheet" th:href="@{/css/asr.css}"></link>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async="async" src="https://www.googletagmanager.com/gtag/js?id=UA-116832942-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-116832942-1');
  </script>

  <script th:src="@{/js/lib/canvasToBlob.js}"></script>
  <script th:src="@{/js/lib/FileSaver.min.js}"></script>
  <script th:src="@{/js/lib/d3min.js}"></script>
  <script th:src="@{/js/lib/lodash.min.js}"></script>
  <script th:src="@{/js/lib/jquery.min.js}"></script>
  <script th:src="@{/js/lib/jquery-2.2.4.min.js}"></script>
  <script th:src="@{/js/lib/bootstrap.min.js}"></script>
  <script th:src="@{/js/lib/moderniser.js}"></script>
  <script type="text/javascript" th:src="@{/js/lib/bootstrap-switch.min.js}"></script>

</head>

<body class="container-fluid">
<div th:replace="fragments/nav :: nav"></div>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Page Content -->
<div id="progress" class="se-pre-con">
  <div class="center-el">
    <div id="progress-status" class="row jumbotron jumbotron-fluid"
         style="height: 10em; padding-top: 4em; background: none; background-color: transparent;">
      <h2 class="col-xs-12 text-secondary">
        <small>performing reconstruction...</small>
        <span id="status">0%</span></h2>
      <a th:href="@{/(cancel='t')}" type="button" class="btn btn-warning">Cancel</a>
    </div>
  </div>
</div>
<div id="recon-error-div" class="content-section-a container-fluid invisible">
  <div
      class="alert alert-danger alert-dismissable row col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p id="recon-error"></p></div>
  <div
      class="alert alert-warning alert-dismissable row col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10">
    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
    <p> For more detail about how to resolve errors please check the <a href="/guide#errors-nav">error
      information</a> in the guide and try your reconstruction again...</p></div>
</div>
<div style="display: none;">
  <script type="text/javascript" th:inline="javascript">
    /**
     * While the ASR is processing we want to be able to get the taxonomic information.
     */
    /*<![CDATA[*/

    $(document).ready(function () {
      // let protIds = /*[[${ids}]]*/;
      // protIds = JSON.parse(protIds);
      // console.log("PROTEIN IDS");
      // console.log(protIds);
      // queryTaxonIds(protIds.ncbi, protIds.uniprot);
      // ajax to poll spring for updates on the analysis....
      var stat = setInterval(function () {
        $.ajax({
          url: window.location.pathname.split("?")[0],
          type: 'GET',
          data: {request: "status"},
          success: function (data) {
            // redirect to results if finished.. otherwise, update user...
            if (data == "done") {
              clearInterval(stat);
              $("#status").text(" finishing up...");
              window.location.replace(window.location.pathname.split("?")[0] + "?getrecon=");
            } else if (data.includes("error")) {
              clearInterval(stat);
              $("#recon-error-div").removeClass("invisible");
              $("#progress").addClass("invisible");
              $("#recon-error").text(data.split("\t")[1]);
            } else {
              $("#status").text(data);
            }
          }
        });
      }, 1000);
    });
    /*]]>*/
  </script>
</div>
<!-- About Section -->
<div th:replace="fragments/about :: about"></div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>