<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_include :: head_include">
    <!-- metas, link and scripts -->
</head>
<body class="container-fluid">
<div th:replace="fragments/nav :: nav"></div>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Error Section -->
<div th:replace="fragments/errors :: errors"></div>

<!-- Page Content -->
<div class="content-section-b">
    <div class="container">
        <form class="col-xs-6 col-xs-offset-3" name="registerForm" th:action="@{/register}" th:object="${user}" method="POST" enctype="utf8">
            <div class="form-group row">
                <h3>Please register for an account</h3>
                <p>
                    We'll send you a registration token, you can then follow the link in the email to finalise registration.
                    We only use your email to send out notifications that your reconstruction is complete (if you
                are saving it), or to let you know when we do maintenance on the server.
                </p>
                <p>
                    Finally we encrypt your email and will never sell your stuff (it should be assumed but thought we'd be explicit).
                    But always remember to use a secure and unique password - if you forget it you can always reset it!
                </p>
                <p>
                    Note your username will be what you use to login so make it something easy to remember! If you have any
                    questions feel free to get in contact with the crew at GRASP.
                </p>
            </div>
            <div class="form-group row">
                <label for="email">Email</label>
                <input id="email" class="form-control" placeholder="Email" th:field="*{email}"/>
                <small class="form-text text-danger" th:each="error: ${#fields.errors('email')}"
                       th:text="${error}">Validation error</small>
            </div>
            <div class="form-group row">
                <label for="username">Username</label>
                <input id="username" class="form-control" placeholder="Username" th:field="*{username}"/>
                <small class="form-text text-danger" th:each="error: ${#fields.errors('username')}"
                       th:text="${error}">Validation error</small>
            </div>

            <div class="form-group row">
                <button type="submit" class="btn btn-primary col-sm-4">Register</button>
            </div>
        </form>
    </div>
</div>


<!--<a th:href="@{/Login.html}" th:text="#{label.form.loginLink}">Login</a>-->
<!-- About Section -->
<div th:replace="fragments/about :: about"></div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>