<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_include :: head_include">
  <!-- metas, link and scripts -->
</head>
<body class="container-fluid">
<div th:replace="fragments/nav :: nav"></div>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Page Content -->
<div class="content-section-b">
  <div class="container">
    <form class="col-xs-6 col-xs-offset-3" name="registerForm" th:action="@{/register}" th:object="${user}" method="POST" enctype="utf8">
      <div class="form-group row">
        <h3>Please reset your password</h3>
      </div>
      <div class="form-group row">
        <label for="password">Password</label>
        <input class="form-control" type="password" id="password" placeholder="Password" th:field="*{password}"/>
        <small class="form-text text-danger" th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</small>
      </div>
      <div class="form-group row">
        <label for="retypepassword">Retype Password</label>
        <input class="form-control" type="password" id="retypepassword" placeholder="Password" th:field="*{passwordMatch}"/>
        <small class="form-text text-danger" th:each="error : ${#fields.errors('passwordMatch')}"
               th:text="${error}">Validation error</small>
      </div>

      <div class="form-group row">
        <button type="submit" class="btn btn-primary col-sm-4">Set Password</button>
      </div>
    </form>
  </div>
</div>


<!--<a th:href="@{/Login.html}" th:text="#{label.form.loginLink}">Login</a>-->
<!-- About Section -->
<div th:replace="fragments/about :: about"></div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>