target/
!.mvn/wrapper/maven-wrapper.jar
*grasp-repo*

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

### Specific user configs ###
*-override.properties
*TestPropertiesOverride.java

### Tests that won't work on every local installation ###
*TaxaControllerTest.java
*TreeControllerTest.java

*maven-metadata.xml*

*.DS_Store
