<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="download_form" class="panel panel-default collapse" id="download-form">
            <div class="panel-body">
                <div class="col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-sm-10 col-md-10 col-lg-10">
                <form>
                    <div class="row">
                        <div class="col-md-4 col-lg-4">
                            <fieldset>
                                <legend>
                                    Phylogenetic Tree
                                </legend>
                                <div class="checkbox">
                                    <input id="check-recon-tree" type="checkbox" checked="checked"></input>
                                    <label for="check-recon-tree">
                                        Reconstructed tree
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <fieldset>
                                <legend>
                                    Ancestral Graphs
                                </legend>
                                <div class="checkbox">
                                    <input id="check-pog-msa" type="checkbox"></input>
                                    <label for="check-pog-msa">
                                        Sequence alignment (.dot)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input id="check-pog-marg" type="checkbox"></input>
                                    <label for="check-pog-marg">
                                        Marginal reconstruction of <span class="node-label">Root</span> (.dot)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input id="check-pog-joint" type="checkbox"></input>
                                    <label for="check-pog-joint">
                                        Joint reconstruction of all ancestors (*.dot)
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4 col-lg-4">
                            <fieldset>
                                <legend>
                                    Sequence Information
                                </legend>
                                <div class="checkbox">
                                    <input id="check-marg-dist" type="checkbox"></input>
                                    <label for="check-marg-dist">
                                        Distribution of characters in <span class="node-label">Root</span> marginal
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input id="check-seq-marg" type="checkbox"></input>
                                    <label for="check-seq-marg">
                                        Consensus sequence of <span class="node-label">Root</span> (.fasta)
                                    </label>
                                </div>
                                <div class="checkbox">
                                    <input id="check-seq-joint" type="checkbox"></input>
                                    <label for="check-seq-joint">
                                        Consensus sequence of joint reconstruction (.fasta)
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-offset-10 col-md-offset-10 col-lg-offset-10"><button type="submit" class="btn btn-primary col-sm-11 col-md-11 col-lg-11" name="submit">Download Results</button></div>
                    </div>
                </form>
            </div>
            </div>
    </div>
</body>
</html>