<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="form">
    <a name="reconstruct"></a>
    <div class="content-section-a" th:if="${results == null and error == null}">
        <div th:replace="fragments/help :: help"></div>
        <div class="container">
            <form class="col-lg-offset-2" action="#" name="asrForm" th:action="@{/asr}" th:object="${asrForm}" method="post" enctype="multipart/form-data">
                <div class="form-group row">
                    <div class="input-group col-lg-10">
                        <input type="text" class="form-control" placeholder="Label your reconstruction..." id="label" name="label" th:field="*{label}" />
                        <span class="input-group-btn">
                            <button type="submit" name="test" class="btn btn-default">Run Test Data</button>
                        </span>
                    </div>
                    <div class="form-group has-error" th:if="${#fields.hasErrors('label')}"><label class="control-label" for="label" th:errors="*{label}"></label></div>
                </div>
                <hr></hr>
                <div class="form-group row ">
                    <label class="col-lg-3" for="alncheck">Perform sequence alignment:</label>
                    <input id="alncheck" type="checkbox" th:field="*{performAlignment}"/>
                </div>
                <div class="form-group row col-lg-offset-1" disabled="disabled">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-align-left" aria-hidden="true"></span>
                        <label class="btn btn-default col-lg-8" for="fileseq">
                            Select sequence library file...
                            <input type="file" name="fileseq" id="fileseq" style="display:none;" onchange="$('#upload-seq-info').html(document.forms['asrForm']['fileseq'].files[0].name);" hidden="hidden" th:field="*{seqFile}"></input>
                        </label>&nbsp;
                        <span class="label label-default upload-file-info" id="upload-seq-info"></span>
                    </div>
                    <div class="form-group has-error" th:if="${#fields.hasErrors('seqFile')}" th:errors="*{seqFile}"></div>
                </div>
                <hr></hr>
                <div class="form-group row col-lg-offset-1">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-align-justify" aria-hidden="true"></span>
                        <label class="btn btn-default col-lg-8" for="filealn">
                            Select sequence alignment file...
                            <input type="file" name="alnFile" id="filealn" style="display:none;" onchange="$('#upload-aln-info').html(document.forms['asrForm']['alnFile'].files[0].name);" hidden="hidden" th:field="*{alnFile}"></input>
                        </label>&nbsp;
                        <span class="label label-default upload-file-info" id="upload-aln-info"></span>
                    </div>
                    <div class="form-group has-error" th:if="${#fields.hasErrors('alnFile')}"><label class="control-label" for="label" th:errors="*{alnFile}"></label></div>
                </div>
                <div class="form-group row col-lg-offset-1">
                    <div class="input-group">
                        <span class="input-group-addon glyphicon glyphicon-tree-conifer" aria-hidden="true"></span>
                        <label class="btn btn-default col-lg-8" for="filetree">
                            Select phylogenetic tree file...
                            <input type="file" name="filetree" id="filetree" style="display:none;" onchange="$('#upload-tree-info').html(document.forms['asrForm']['filetree'].files[0].name);" hidden="hidden" th:field="*{treeFile}"></input>
                        </label>&nbsp;
                        <span class="label label-default upload-file-info" id="upload-tree-info"></span>
                    </div>
                    <div class="form-group has-error" th:if="${#fields.hasErrors('treeFile')}"><label class="control-label" for="label" th:errors="*{treeFile}"></label></div>
                </div>
                <div class="form-group row">
                    <label class="col-lg-3" for="fileseq">Initial reconstruction</label>
                </div>
                <div class="form-group-row col-lg-offset-2">
                    <label class="radio-inline">
                        <input class="form-check-input col-lg-1" type="radio" checked="checked" th:field="*{inferenceType}" th:value="joint" />Joint
                    </label>
                    <label class="radio-inline">
                        <input class="form-check-input col-lg-1" id="marginal" type="radio" th:field="*{inferenceType}" th:value="marginal" />Marginal (root)
                    </label>
                </div>
                <div class="col-lg-offset-7"><button type="submit" class="btn btn-primary col-lg-8" name="submit">Perform Reconstruction</button></div>
            </form>
        </div>
        <div class="form-control-feedback" th:if="${errorMessage != null}" th:text="${errorMessage}"></div>
        </div>
    </div>
</body>
</html>