<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <a name="about"></a>
    <div class="intro-header">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <div class="intro-message">
                        <h1>GRASP</h1>
                        <h3>Graphical representation of ancestral sequence predictions</h3>
                        <hr class="intro-divider"></hr>
                    </div>
                </div>
            </div>
        </div>
        <div th:replace="fragments/nav :: nav"></div>
    </div>
</div>
</body>
</html>