<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="tutorial">
    <a id="tutorial"></a>
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-sm-6">
                    <div class="clearfix"></div>
                    <h2 class="section-heading">Tutorial</h2>
                    <p class="lead">Tutorial for using and interpreting GRASP.....</p>
                </div>
               <!-- <div class="col-lg-5 col-lg-offset-2 col-sm-6">
                    <img class="img-responsive" src="/resources/images/phones.png" alt=""></img>
                </div>-->
            </div>
        </div>
        <!-- /.container -->
    </div>
</div>
</body>
</html>