html {
  min-width: 950px;
  min-height: 400px;
  overflow: scroll;
}

svg {
padding: 40px;
float: left;
}
.node circle {
  stroke: #333;
  stroke-width: 1.5px;
  /*fill: none;*/
}
.edgeLabel rect {
  fill: #fff;
}
.edgePath {
  stroke: #333;
  stroke-width: 1.5px;
  fill: none;
}

#tree_display{
  min-width:200px;
  min-height:400px;
	/*height: 200px;*/
  display:inline-flex;
}

#graphContainer{
  display:inline-flex;
}

#wrapper {
  width:100%;
  min-height:60%;
  overflow:scroll;
  display:flex;
}
