
body.container-fluid {
    padding: 0;
}

body {
padding-bottom: 70px;
}

body,
html {
    width: 100%;
    height: 100%;
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Lato","Helvetica Neue",Helvetica,Arial,sans-serif;
}

#home-img-div {
    background: url(../images/home_page.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
}

#phylo-tree-img-div {
    background: url(../images/phylo_tree.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 40%;
}

#phylo-tree-right-click-img-div {
    background: url(../images/phylo_tree_right_click.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
}

#dark-edge-img-div {
    background: url(../images/dark_edge.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 40%;
}

#thick-edge-img-div, #thick-edge-2-img-div {
    background: url(../images/thick_edge.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 40%;
}

#light-edge-img-div {
    background: url(../images/light_edge.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 40%;
}

#light-edge-img-div {
    background: url(../images/dashed_edge.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 40%;
}

#graph-view-img-div {
    background: url(../images/graph_view.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 55%;
}

#msa-pie-chart-img-div {
    background: url(../images/msa_pie_chart.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 30%;
}

#merged-graph-img-div {
    background: url(../images/merged_graph.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 90%;
}

#graph-view-marginal-img-div {
    background: url(../images/graph_view_marginal.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 55%;
}

#download-pane-img-div {
    background: url(../images/download_pane.png);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 55%;
}


.topnav {
    font-size: 12px;
}

.lead {
    font-size: 18px;
}

.intro-header {
    padding-top: 90px; /* If you're making other pages, make sure there is 50px of padding to make sure the navbar doesn't overlap content! */
    padding-bottom: 50px;
    height: 280px;
    text-align: center;
    color: #f8f8f8;
    background: url(../images/bg_tmp.jpeg) no-repeat center center;
    background-size: cover;
}

.intro-message {
    position: relative;
}

.intro-message > h1 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 5em;
}

.intro-divider {
    width: 400px;
    border-top: 1px solid #f8f8f8;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.intro-message > h3 {
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
}

@media(max-width:767px) {
    .intro-message {
        padding-bottom: 15%;
    }

    .intro-message > h1 {
        font-size: 3em;
    }

    ul.intro-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.intro-social-buttons > li:last-child {
        margin-bottom: 0;
    }

    .intro-divider {
        width: 100%;
    }
}

img {
    width: 100%;
}

.network-name {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 2px;
}

.no-padding {
    padding-left: 0;
    padding-right: 0;
}

.content-section-a {
    padding: 50px 0;
    background-color: #f8f8f8;
}

.content-section-b {
    padding: 50px 0;
    border-top: 1px solid #e7e7e7;
    border-bottom: 1px solid #e7e7e7;
}

.section-heading {
    margin-bottom: 30px;
}

.section-heading-spacer {
    float: left;
    width: 200px;
    border-top: 0px solid #e7e7e7;
}

.banner {
    padding: 100px 0;
    color: #f8f8f8;
    background: url(../images/bg_tmp.jpeg) no-repeat center bottom;
    background-size: cover;
}

.bh2 {
    margin: 0;
    text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
    font-size: 24px;
    color: white;
}

.banner ul {
    margin-bottom: 0;
}

.banner-social-buttons {
    float: right;
    margin-top: 0;
}

@media(max-width:1199px) {
    ul.banner-social-buttons {
        float: left;
        margin-top: 15px;
    }
}

@media(max-width:767px) {
    .banner h2 {
        margin: 0;
        text-shadow: 2px 2px 3px rgba(0,0,0,0.6);
        font-size: 3em;
    }

    ul.banner-social-buttons > li {
        display: block;
        margin-bottom: 20px;
        padding: 0;
    }

    ul.banner-social-buttons > li:last-child {
        margin-bottom: 0;
    }
}

footer {
    padding: 5px 0;
    background-color: #f8f8f8;
    font-size: 12px;
}

p.copyright {
    margin: 5px 0 0;
}
