<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="about">
    <div class="content-section-a">
        <div class="container">
            <div class="row">
                <div class="col-xs-6 col-xs-offset-2">
                    <a id="about-nav"></a>
                    <h2 class="bh2">About GRASP</h2>
                </div>
                <div class="col-xs-2">
                    <ul class="list-inline banner-social-buttons">
                        <li><a href="http://bioinf.scmb.uq.edu.au/research/start" class="btn btn-default btn-lg"><i class="fa fa-link fa-fw"></i> <span class="network-name">Boden Group Wiki</span></a></li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-8 col-xs-offset-2">
                    <div class="pad-top-bottom text-muted">
                        <p><small>Version beta 0305.2019</small></p><!-- NOTE:
                         version number is <month><day>.<year> to easily identify synced changes in git -->
                        <p><small>Supported by the Australian Research Council DP160100865 to Bodén, Gillam, Kobe, and Rost.</small></p>
                        <br></br>
                        <p><small>Contact</small></p>
                        <p><small>Ariane Mora <a href="mailto:a.mora@uq.edu.au?Subject=GRASP" target="_top">a.mora@uq.edu.au (technical issues)</a> or Mikael Bodén <a href="mailto:m.boden@uq.edu.au?Subject=GRASP" target="_top">m.boden@uq.edu.au (general enquiries)</a>.</small></p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>