<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="download_form" class="panel panel-default collapse" aria-expanded="false" id="download-form">
        <div class="panel-body">
            <div class="col-md-offset-1 col-md-10">
                <form action="#" id="downloadform" name="download-form" method="get">
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset>
                                <legend>
                                    Phylogenetic Tree
                                </legend>
                                <div class="checkbox" data-toggle="popover" data-placement="top" data-content="Phylogenetic tree annotated with ancestral labels.">
                                    <input id="check-recon-tree" name="check-recon-tree" class="dlopt" type="checkbox"></input>
                                    <label for="check-recon-tree">
                                        Phylogenetic tree (.nwk)
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <legend>
                                    Ancestral Graphs - <strong>Temporarily Disabled</strong>
                                </legend>
                                <div class="checkbox disabled" data-toggle="popover" data-placement="top" data-content="Sequence alignment as a partial order graph.">
                                    <input id="check-pog-msa" name="disabled check-pog-msa" class="dlopt" disabled="true" type="checkbox"></input>
                                    <label for="check-pog-msa">
                                        Sequence alignment POAG (*.dot)
                                    </label>
                                </div>
                                <div class="checkbox disabled margopt" data-toggle="popover" data-placement="top" data-content="Reconstructed ancestor (using marginal reconstruction) as a partial order graph.">
                                    <input id="check-pog-marg" class="disabled margopt dlopt" disabled="true" name="check-pog-marg" type="checkbox"></input>
                                    <label for="check-pog-marg">
                                        Marginal reconstruction POG of <span class="node-label">Root</span> (*.dot)
                                    </label>
                                </div>
                                <div class="checkbox disabled dlopt" data-toggle="popover" data-placement="bottom" data-content="All reconstructed ancestors (using joint reconstruction) as partial order graphs.">
                                    <input id="check-pog-joint" class="disabled styled dlopt disabled" disabled="true" name="check-pog-joint" type="checkbox"></input>
                                    <label for="check-pog-joint">
                                        Joint reconstruction POG of added ancestors (*.dot)
                                    </label>
                                </div>
                                <div class="checkbox disabled dlopt" data-toggle="popover" data-placement="bottom" data-content="All reconstructed ancestors (using joint reconstruction) as partial order graphs.">
                                    <input id="check-pog-joint-single" class=" disabled styled dlopt" disabled="true" name="check-pog-joint-single" type="checkbox"></input>
                                    <label for="check-pog-joint-single">
                                        Joint reconstruction POG of <span class="node-label">Root</span> (*.dot)
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <legend>
                                    Sequence Information
                                </legend>
                                <div class="checkbox disabled margopt" data-toggle="popover" data-placement="top" data-content="Marginal amino acid distribution of each node in the inferred ancestral sequence graph.">
                                    <input id="check-marg-dist" name="check-marg-dist" disabled="true" class="disabled margopt dlopt" type="checkbox"></input>
                                    <label for="check-marg-dist">
                                        Distribution of characters in <span class="node-label disabled margopt">Root</span> marginal (.tsv)
                                    </label>
                                </div>
                                <div class="checkbox disabled margopt" data-toggle="popover" data-placement="bottom" data-content="Consensus sequence of inferred ancestor (using marginal reconstruction) (.fasta). Consensus sequence is the collection of nodes in the inferred sequence graph that is in path of edges traversed by the majority of extant sequences.">
                                    <input id="check-seq-marg" class="disabled margopt dlopt" disabled="true" name="check-seq-marg" type="checkbox"></input>
                                    <label for="check-seq-marg">
                                        Consensus sequence of marginal <span class="node-label">Root</span> (.fasta)
                                    </label>
                                    <input type="hidden" name="node-label" class="full-node-label disabled margopt" value="root" />
                                </div>

                                <div class="checkbox disabled margopt" data-toggle="popover" data-placement="bottom"  data-content="Consensus sequence of all inferred ancestors (using joint reconstruction) (.fasta). Consensus sequence is the collection of nodes in the inferred sequence graph that is in path of edges traversed by the majority of extant sequences.">
                                    <input id="check-seq-joint" name="check-seq-joint" class="dlopt" type="checkbox"></input>
                                    <label>
                                        Consensus sequences of Joint Reconstructions (.fasta)
                                    </label>
                                    <input id="graphs-input" name="graphs-input" hidden="hidden"></input>
                                </div>
                                <div class="col-sm-10" data-toggle="popover" data-placement="bottom" data-content="Consensus sequence of all inferred ancestors (using joint reconstruction) (.fasta). Consensus sequence is the collection of nodes in the inferred sequence graph that is in path of edges traversed by the majority of extant sequences.">
                                    <select id="multiselect-download" class="selectpicker" multiple="true" data-live-search="true">
                                        <option>All</option>
                                    </select>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="row col-xs-12">
                        <div class="col-xs-12 pad-top-bottom"><button type="submit" name="download" class="btn btn-default col-xs-12 disabled" id="download-btn">Download</button></div>
                    </div>
                    <div class="row col-xs-12">
                        <div class="col-xs-12 alert alert-warning collapse" role="alert" id="download-warning"><label>These results may take some time to download...</label><br></br><br></br><label>Downloading all ancestral joint graphs can result in a large download and may take time.</label></div>
                    </div>
                </form>

                <script type="text/javascript" th:inline="javascript">
                /*<![CDATA[*/


                $("#check-pog-joint").change(function(){
                    check_disabled_state_dlbtn();
                    if ($("#check-pog-joint").prop("checked")) {
                        if (graphs.length > 5) {
                            $("#download-warning").removeClass('collapse');
                        }
                    } else {
                        $("#download-warning").addClass('collapse');
                    }
                });
                $("#check-recon-tree").change(function(){
                    check_disabled_state_dlbtn();
                });
                $("#check-pog-msa").change(function(){
                    check_disabled_state_dlbtn();
                });
                $("#check-pog-marg").change(function(){
                    check_disabled_state_dlbtn();
                });
                $("#check-pog-joint-single").change(function(){
                    check_disabled_state_dlbtn();
                });
                $("#check-marg-dist").change(function(){
                    check_disabled_state_dlbtn();
                });
                $("#check-seq-marg").change(function(){
                    check_disabled_state_dlbtn();
                });
                $("#check-seq-joint").change(function(){
                    check_disabled_state_dlbtn();
                    graphs = getSelectedValuesForDownload("multiselect-download");
                    console.log(graphs)
                    $("#graphs-input").val(graphs);
                    if ($("#check-seq-joint").prop("checked")) {
                        if (graphs.length > 5) {
                            $("#download-warning").removeClass('collapse');
                        }
                    } else {
                        $("#download-warning").addClass('collapse');
                    }
                });
                $("#check-seq-joint-single").change(function(){
                    check_disabled_state_dlbtn();
                });
                $("#check-msa-marg-dist").change(function(){
                    check_disabled_state_dlbtn();
                });
                $("#check-msa-aln").change(function(){
                    check_disabled_state_dlbtn();
                });
                var check_disabled_state_dlbtn = function() {
                  // Check if we have already performed this function
                    if (!$("#download-btn").hasClass("disabled")) {
                      $("#download-btn").addClass("disabled");
                    }
                    $(".dlopt").each(function () {
                      if ($(this).prop("checked")) {
                        $("#download-btn").removeClass("disabled");
                        graphs = getSelectedValuesForDownload("multiselect-download");
                        console.log(graphs)

                        $("#graphs-input").val(graphs);
                      }
                    });
                };
                /*]]>*/
                </script>
            </div>
        </div>
    </div>
</body>
</html>