<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="download_form" class="panel panel-default collapse" aria-expanded="false" id="download-form">
        <div class="panel-body">
            <div class="col-md-offset-1 col-md-10">
                <form action="#" id="downloadform" name="download-form" method="get">
                    <div class="row">
                        <div class="col-md-4">
                            <fieldset>
                                <legend>
                                    Phylogenetic Tree
                                </legend>
                                <div class="checkbox" data-toggle="popover" data-placement="top" data-content="Phylogenetic tree annotated with ancestral labels.">
                                    <button id="download-tree" name="check-recon-tree" class="dlopt" type="button" onclick="downloadData(this.id)">Download</button>
                                    <label for="download-tree">
                                        Phylogenetic tree (.nwk)
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <legend>
                                    Ancestral Graphs - <strong>Temporarily Disabled</strong>
                                </legend>
                                <div class="checkbox disabled" data-toggle="popover" data-placement="top" data-content="Sequence alignment as a partial order graph.">
                                    <button id="check-pog-msa" name="disabled check-pog-msa" class="dlopt" disabled="true" type="button">X</button>
                                    <label for="check-pog-msa">
                                        Sequence alignment POAG (*.dot)
                                    </label>
                                </div>
                                <div class="checkbox disabled margopt" data-toggle="popover" data-placement="top" data-content="Reconstructed ancestor (using marginal reconstruction) as a partial order graph.">
                                    <button id="check-pog-marg" class="disabled margopt dlopt" disabled="true" name="check-pog-marg" type="button">X</button>
                                    <label for="check-pog-marg">
                                        Marginal reconstruction POG of <span class="node-label">Root</span> (*.dot)
                                    </label>
                                </div>
                                <div class="checkbox disabled dlopt" data-toggle="popover" data-placement="bottom" data-content="All reconstructed ancestors (using joint reconstruction) as partial order graphs.">
                                    <button id="check-pog-joint" class="disabled styled dlopt disabled" disabled="true" name="check-pog-joint" type="button">X</button>
                                    <label for="check-pog-joint">
                                        Joint reconstruction POG of added ancestors (*.dot)
                                    </label>
                                </div>
                                <div class="checkbox disabled dlopt" data-toggle="popover" data-placement="bottom" data-content="All reconstructed ancestors (using joint reconstruction) as partial order graphs.">
                                    <button id="check-pog-joint-single" class=" disabled styled dlopt" disabled="true" name="check-pog-joint-single" type="button">X</button>
                                    <label for="check-pog-joint-single">
                                        Joint reconstruction POG of <span class="node-label">Root</span> (*.dot)
                                    </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <legend>
                                    Sequence Information
                                </legend>
                                <div class="checkbox disabled margopt" data-toggle="popover" data-placement="top" data-content="Marginal amino acid distribution of each node in the inferred ancestral sequence graph.">
                                    <button id="check-marg-dist" name="check-marg-dist" disabled="true" class="disabled margopt dlopt" type="button">X</button>
                                    <label for="check-marg-dist">
                                        Distribution of characters in <span class="node-label disabled margopt">Root</span> marginal (.tsv)
                                    </label>
                                </div>
                                <div class="checkbox " data-toggle="popover" data-placement="bottom" data-content="Consensus sequence of inferred ancestor (using marginal reconstruction) (.fasta). Consensus sequence is the collection of nodes in the inferred sequence graph that is in path of edges traversed by the majority of extant sequences.">
                                    <button id="download-marginal" class="dlopt" name="download-marginal" type="button" onclick="downloadData(this.id)">Download</button>
                                    <label for="download-marginal">
                                        Consensus sequence of reconstructed (if any) marginal Nodes (.fasta)
                                    </label>
                                </div>

                                <div id="check-joint">
                                    <div class="checkbox disabled margopt" data-toggle="popover" data-placement="bottom"  data-content="Consensus sequence of all inferred ancestors (using joint reconstruction) (.fasta). Consensus sequence is the collection of nodes in the inferred sequence graph that is in path of edges traversed by the majority of extant sequences.">
                                        <button id="download-joint" name="check-seq-joint" class="dlopt" type="button" onclick="downloadData(this.id)">Download</button>
                                        <label>
                                            Consensus sequences of Joint Reconstructions (.fasta)
                                        </label>
                                    </div>
                                </div>
                            </fieldset>
                        </div>
                    </div>
                    <div class="alert alert-warning alert-dismissable row col-xs-offset-1 col-sm-offset-1 col-md-offset-1 col-lg-offset-1 col-xs-10 col-sm-10 col-md-10 col-lg-10"  id="download-error-div" style="display: none;"><p id="download-error"></p></div>

                </form>
            </div>
        </div>
    </div>
</body>
</html>