<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
    <div th:fragment="help">
        <div>
            <button type="button" id="help-btn" class="btn btn-default btn-lg" data-toggle="button" aria-pressed="false" autocomplete="false"><span class="glyphicon glyphicon-question-sign" aria-hidden="true"></span></button>
            <script type="text/javascript">
                /*<![CDATA[*/
                $(document).ready(function(){
                    $('[data-toggle="popover"]').popover({
                        selector: "[data-toggle='popover']",
                        delay: 50,
                        trigger: 'manual',
                        container: "body"
                    }).on("mouseenter", function() {
                        if ($("#help-btn").attr("aria-pressed") === 'true') {
                            $(this).popover('show');
                        }
                    });
                });

                $("#help-btn").click(function () {
                    $(this).delay(100).queue(function() {
                        if ($("#help-btn").attr("aria-pressed") === 'true') {
                            $('[data-toggle="popover"]').popover('show');
                            if ($("#download-form").attr("aria-expanded") !== 'true') {
                                $('#download-form [data-toggle="popover"]').popover('hide');
                            }
                        } else {
                            $('[data-toggle="popover"]').popover('hide');
                        }
                        $(this).dequeue();
                    });
                });

                /*]]>*/
            </script>
        </div>
    </div>
</body>
</html>