<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="feature_log" class="panel panel-default" aria-expanded="false" id="feature_log">
    <div class="content-section-b" id="workshop-div">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 id="feature_log_header" class="section-heading">Feature log</h2>
                    <h3>No recently updated features</h3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>