<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="feature_log" class="panel panel-default" aria-expanded="false" id="feature_log">
    <div class="content-section-b" id="workshop-div">
        <div class="container">
            <div class="row">
                <div class="col-xs-12">
                    <h2 id="feature_log_header" class="section-heading">Feature log</h2>


                    <h3>05/05/2020 </h3>
                    <ul>
                        <li>Added note about downtime for features and maintenance to main page</li>
                        <li>Reformatted error message when alignment and tree have identifier names that disagree, to make it easier for users to understand and troubleshoot.</li>
                        <li>Added note about identifier names with link to SeqScrub into GRASP Guide</li>
                    </ul>

                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>