asn1crypto==0.24.0
certifi==2018.4.16
cffi==1.11.5
chardet==3.0.4
conda==4.5.4
configparser==3.5.0
cryptography==2.2.2
idna==2.6
peewee==2.8.1
psycopg2==2.7.5
pycosat==0.6.3
pycparser==2.18
pyOpenSSL==18.0.0
PySocks==1.6.8
requests==2.18.4
ruamel-yaml==0.15.37
six==1.11.0
taxadb==0.8.0
tqdm==4.25.0
urllib3==1.22
