

.header_colour {
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    color: #F05F40;
    padding-left: 50px;
    padding-top: 50px;
}

/*.chart {
    shape-rendering: crispEdges;
}*/
.mini text {
    font: 9px sans-serif;	
}
.main text {
    font: 12px sans-serif;	
}
.month text {
    text-anchor: start;
}
.todayLine {
    stroke: SteelBlue;
    stroke-width: 1.5;
}
.axis line, .axis path {
    stroke: black;
}
.miniItem {
    stroke-width: 6;	
}
.future {
    stroke: gray;
    fill: #ddd;
}
.past {
    stroke: green;
    fill: lightgreen;
}
.brush .extent {
    stroke: CornflowerBlue;
    stroke-opacity: .2;
    fill: CornflowerBlue;
    fill-opacity: .12;
}

div.d3-tip, #generic_tooltip {
    font-family: Arial,Helvetica,sans-serif;
    font-size: 10px;
    line-height: 20px;
    padding: 8px;
    display: inline-block;
    max-width: 400px;
    z-index: 11000;
    /*position: absolute;*/
    color: #5a5a5a;
    background-color: #FFF;
    border: 1px solid lightgrey;
    word-wrap: break-word;
    opacity: 100;

}


.arc text {
    font: 12px sans-serif;
    text-anchor: middle;
}

.arc path {
    stroke: #fff;
}

div.tooltip {
    background: white;
    font-family: Arial,Helvetica,sans-serif;
    font-size: 16px;
    border: solid orange;
    position: absolute;
    max-width: 8em;
    text-align:center;
}

.x_axis_diagonal_labels:hover{
    fill: orange;
}

/* http://bl.ocks.org/ZJONSSON/3918369 */
.legend rect {
    fill:white;
    stroke:black;
    opacity:0.8;
}

.outline {
    fill: white;
    stroke: grey;
}

.bar:hover {
    fill: brown;
}

.bar2:hover {
    fill: purple;
}

.axis {
    font: 10px sans-serif;
}

.axis path,
.axis line {
    fill: none;
    stroke: #000;
    /*shape-rendering: crispEdges;*/
}

/*    .x.axis path {
        display: none;
    }    */