<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head_include :: head_include">
  <!-- metas, link and scripts -->
</head>
<body>
<div th:replace="fragments/nav :: nav"></div>

<!-- Header -->
<div th:replace="fragments/header :: header"></div>

<!-- Page Content -->
<div th:replace="fragments/user :: user"></div>

<!-- About Section -->
<div th:replace="fragments/about :: about"></div>

<!-- Footer -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>